



 

<div class="row-fluid">
  <% @users.each do |user| %>
    <div class="user-card">
      <%= image_tag user.image, class: "img-circle", width: 100, height: 100 %>
      
      <h2>Github ID:     <%= link_to user.nickname, user_path(user) %></h2>
      <h3>Full Name:      <%= user.fullname %></h3>
      <h3>Interests:      <%= user.interest %></h3>

     

    
     
  </div>
<% end %>
</div>


        


</div>

      