<div class="col-md-10">
  <span>
  
  </span>
  </div>

  <br /> <br />  

<div class="row-fluid">

        <div class="col-md-5">
      
         
         <a href="/schedule/list"  class="btn btn-default btn-lg btn-block" role="button"><i class="fa fa-sort fa-lg fa-fw"></i> Sort By Time</a>

     </div>
        <div class="col-md-5">
         <a href="/schedule" class="btn btn-default btn-lg btn-block" role="button"><i class="fa fa-archive fa-lg fa-fw"></i>Sort By Tracks</a>
         </div>
    
      </div> 
   

<p>
<div class="row-fluid">
   </br> </br></br>

       <% Category.all.each do |category| %>
        <div class="col-md-10">
      
      <%= link_to category_talks_path(category), class: "btn btn-default btn-lg btn-block", role: "button" do %>
        <i class="fa fa-chevron-circle-right fa-lg fa-fw"></i> <%= category.title %>
      <% end %>
        </div>
        <% end %>
      </div> 
  </p>