<div class="row-fluid">

          <div class="col-md-10">
          	 <span>
        	<h3> Venue  </h3>
        </span>
        </div>

        	   <div class="col-md-5">
        	<h4> Conference Location </h4>
          <br /> 
        	<div class="address">
      	<address>
       The Royal Festival Hall <a href="https://goo.gl/maps/1SFNH">(map)</a><br />
      	   Southbank Centre, <br />
           Belvedere Rd, <br />
           London SE1 8XX <br />
        </address>
            </div>
         
         <br /><br /><br /><br /><br />
        <div class="ven">
        
        The venue for the 2014 Back-End Ops Conference is London's <a href="http://www.southbankcentre.co.uk/venues/royal-festival-hall">Royal Festival Hall</a>. It is located in the SouthBank centre, named by the Telegraph as "Britain's leading arts institution".

        </div>

        <h4> Getting Here </h4>

         <div class="ven">
         Southbank Centre is positioned in the heart of London's thriving South Bank and welcomes visitors 364 days a year.
       
         </div>

         <h4> Nearest underground stations </h4>
         <div class="ven">
         Waterloo (Bakerloo, Northern, Jubilee and Waterloo and City underground lines) step-free access 
         Waterloo East step-free access
         Embankment (Circle and District underground lines) 
         Charing Cross (Northern and Bakerloo underground lines)
       
       
         </div>
          </div>

            <div class="col-md-5">

         <h4> By bus </h4>
         <div class="ven">
         Bus number RV1 stops on Belvedere Road.
         Bus routes 76, 77, 211, 341, 381, 507, N381, N76 and RV1 all stop on York Road, a 5 minutes’ walk away.
         Bus routes 1, 4, 26, 59, 68, 139, 168, 171, 172, 176, 188, 243, 521, N1, N68, N171 and N343 stop on Waterloo Bridge, a 2 minutes’ walk away.
       
       
         </div>

         <h4> By river </h4>
         <div class="ven">
         Boats stop at Festival Pier, going to St Katherine’s Pier, Bankside and Westminster.
       
         </div>

         <h4> By bike </h4>
         <div class="ven">
         Bike stands are located in Southbank Centre Square. Barclays Cycle Hire stands are available on Belvedere Road opposite Southbank Centre Square.
       
         </div>

         <h4> Parking </h4>
         <div class="ven">
         We have <a href="http://www.southbankcentre.co.uk/visitor-info/parking">parking</a> available on site, open 7am - 1am daily. Parking fees apply.
       
         </div>

        </div>
        
        </div>	