<div class="row-fluid">

        <div class="col-md-10">

      <h3> Venue </h3>
      <div class="address">
      	<address>
       The Royal Festival Hall <br />
      	   Southbank Centre, <br />
           Belvedere Rd, <br />
           London SE1 8XX <br />
        </address>
       
       </div>

      


      <div class="geocode">
      <h3> Featured Hotels near Royal Festival Hall </h3>
      </div>
      
      <div class="hotel">
      	Park Plaza County Hall 
        <address>
        1 Addington Street, Lambeth, London (0.3 miles from Royal Festival Hall) 	
        </address>
        The Savoy
        <address>
        Strand, Westminster, London, London (0.4 miles from Royal Festival Hall) 	
        </address>
         Park Plaza, Westminster Bridge
        <address>
        Westminster Bridge Road, Lambeth, London (0.4 miles from Royal Festival Hall) 	
        </address>
        ME London
        <address>
        336-337 Strand, London, Westminster, London (0.4 miles from Royal Festival Hall) 	
        </address>
     
       </div>  

      
   <div class="graphic">

  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=400x400&sensor=false&zoom=16&markers=51.505836%2C-0.116789" %>
    </div>




        </div>


</div>        