.speaker {

	display: inline-block;
	color: #317eac;
	

}

.speaker img {

	border: 5px solid #EEE;
}

.speaker span {

	font-size: 18px;
}

.show-page {
float: left;
	width: 50%;
	padding: 10px;
	
	margin: 5px;
	height: 160px;

}

.show-page img{
	float: left;
	margin: 10px;
	display: block;
	border: 5px solid #EEE;
}

.show-page h2, .show-page h3{
	float:left;
	width: 50%;
	font-size: 16px;
	margin: 10px 0;
	font-weight: none;
}

.show-page h2{
	margin-left: 0;
}



.user-card{
	float: left;
	width: 32%;
	padding: 10px;
	border: 1px solid #CCC;
	margin: 5px;
	height: 160px;
}

.address address {

	position: absolute;
	margin-left: 20px ;
	color: #317eac;
	font-size: 14px;

}

.user-card img{
	float: left;
	margin: 10px;
	display: block;
	border: 5px solid #EEE;
}

.user-card h2, .user-card h3{
	float:left;
	width: 50%;
	font-size: 14px;
	margin: 10px 0;
}

.user-card h2{
	margin-left: 0;
}

.sidebar-menu{
	margin-top: 0;
	margin-bottom: 0;
	/*width: 100%;*/
}

.navbar .navbar-default .navbar-fixed-top{
	border: 1px solid orange;
	margin-bottom: 0!important;
}



.pull-up{
	margin-top: -19px;
	margin-left:0;
}

.pull-up .row-fluid{
	margin-left: -20px;
}

.formatpic.img
{
	float: left;

}

.navbar-fixed-top{

	height: 120px;
}

.btn.btn-default.btn-lg
{

	line-height: 2.33;
	

}

.page-header
{

	margin: 0px;

}

.picture
{
	position: absolute;
	right: 50px;
	margin-top: -20px;
}

.picture img{
	float:left;
	margin-right: 10px;
	border: 2px;
	border-color: blue; 
	border-radius: 50%;
}

.fa-caret-down
{
	color: white;
}



.fa-chevron-circle-right 
{

	
	
	float: right;


}

.whitepaper .fa-lg {

	
	position: absolute; 
	top: 70px;
	font-size: 7.333333em; 


	
	
}

.whitepaper-1 .fa-lg {

	
    position: absolute;  
	
	font-size: 7.333333em; 
	left: 200px;
	top: 70px;
	
}

.whitepaper-1 .fa-lg span {

	
	font-size: 15px;


	
	
}

.whitepaper-2 .fa-lg {

	
    position: absolute;  
	
	font-size: 7.333333em; 
	left: 380px;
	top: 70px;
	
}

.whitepaper-2 .fa-lg span {

	
	font-size: 15px;


	
	
}

.whitepaper-3 .fa-lg {

	
    position: absolute;  
	
	font-size: 7.333333em; 
	left: 560px;
	top: 70px;
	
}

.whitepaper-3 .fa-lg span {

	
	font-size: 15px;


	
	
}

.whitepaper-4 .fa-lg {

	
    position: absolute;  
	
	font-size: 7.333333em; 
	left: 730px;
	top: 70px;
	
}

.whitepaper-4 .fa-lg span {

	
	font-size: 15px;


	
	
}


.whitepaper .fa-lg span {

	
	font-size: 15px;


	
	
}

.paperx .fa-lg {

	top: 200px;
	font-family: FontAwesome;
	position: absolute;
    font-size: 7.333333em; 
    /* content: “\f00c”; */
	
	
}

.paperx .fa-lg span {

	
	
	
    font-size: 15px;
    /* content: “\f00c”; */
	
	
}

.paperx-1 .fa-lg {

	top: 200px;
	font-family: FontAwesome;
	position: absolute;
    font-size: 7.333333em; 
    left: 200px;
    /* content: “\f00c”; */
	
	
}

.paperx-1 .fa-lg span {

	
	
	
    font-size: 15px;
    /* content: “\f00c”; */
	
	
}

.paperx-2 .fa-lg {

	top: 200px;
	font-family: FontAwesome;
	position: absolute;
    font-size: 7.333333em; 
    left: 380px;
    /* content: “\f00c”; */
	
	
}

.paperx-2 .fa-lg span {

	
	
	
    font-size: 15px;
    /* content: “\f00c”; */
	
	
}

.paperx-3 .fa-lg {

	top: 200px;
	font-family: FontAwesome;
	position: absolute;
    font-size: 7.333333em; 
    left: 560px;
    /* content: “\f00c”; */
	
	
}

.paperx-3 .fa-lg span {

	
	
	
    font-size: 15px;
    /* content: “\f00c”; */
	
	
}

.paperx-4 .fa-lg {

	top: 200px;
	font-family: FontAwesome;
	position: absolute;
    font-size: 7.333333em; 
    left: 730px;
    /* content: “\f00c”; */
	
	
}

.paperx-4 .fa-lg span {

	
	
	
    font-size: 15px;
    /* content: “\f00c”; */
	
	
}

.paper .fa-lg {
	
	top: 330px;
	font-family: FontAwesome;
	position: absolute;
    font-size: 7.333333em; 
    /* content: “\f00c”; */
	
	
}

.paper .fa-lg span {

    font-size: 15px;
    /* content: “\f00c”; */
	
	
}

.paper-1 .fa-lg {
	
	top: 330px;
	font-family: FontAwesome;
	position: absolute;
    font-size: 7.333333em; 
    /* content: “\f00c”; */
    left: 200px;
	
	
}

.paper-1 .fa-lg span {

    font-size: 15px;
    /* content: “\f00c”; */
	
	
}

.paper-2 .fa-lg {
	
	top: 330px;
	font-family: FontAwesome;
	position: absolute;
    font-size: 7.333333em; 
    /* content: “\f00c”; */
    left: 380px;
	
	
}

.paper-2 .fa-lg span {

    font-size: 15px;
    /* content: “\f00c”; */
	
	
}

.paper-3 .fa-lg {
	
	top: 330px;
	font-family: FontAwesome;
	position: absolute;
    font-size: 7.333333em; 
    /* content: “\f00c”; */
    left: 560px;
	
	
}

.paper-3 .fa-lg span {

    font-size: 15px;
    /* content: “\f00c”; */
	
	
}

.paper-4 .fa-lg {
	
	top: 330px;
	font-family: FontAwesome;
	position: absolute;
    font-size: 7.333333em; 
    /* content: “\f00c”; */
    left: 730px;
	
	
}

.paper-4 .fa-lg span {

    font-size: 15px;
    /* content: “\f00c”; */
	
	
}




.details

{
	display: block;
	font-size: 14px;
	color: white;

}

h4 {

	text-align: center;
	color: white;
	font-family: Arial;
	font-style: bold;
	font-size: 23px;
	margin-top: 28px;
	text-shadow: 2px 2px #707070;

	
}


.navbar.navbar-default {
	background-color:  none;
	border-color:  none;
	margin-bottom: 0;
}


body { 
	padding-top: 130px; 
	min-height: 2000px; 

}

.col-md-2 .sidebar {

	background-color:  none;
	padding-left: none;
	margin-left: -20px;
	/* width: 100%; */

}

.col-md-2 h2 {

	margin-left: -9px;
	background-color: none;

}

span h3 {
	text-align: center;
	color: #317eac;
}

.col-md-5 .btn-block {

	font-weight: bold;
	/* text-shadow: 2px 2px #707070; */
}

.position {


	margin-left: 50px;


}
.col-md-10 p {

	margin-left: -25px;
}

.col-md-10 h3 {

	text-align: none;
}

.col-md-5 .btn-default {

	color: #2fa4e7;
}

.col-md-10 .btn-default {

	color: #2fa4e7;
}
.col-md-10 h4 {

	text-align: left;
	font-size: 16px;
	color: #317eac;
	text-shadow: none;
	margin-left: 20px;
	font-weight: bold;
}


.nav.nav-pills.nav-stacked li  a:hover {
	text-decoration: none;
	background-color: #7BCBF5;
	color: white;


}

.geocode h3 {


	position: absolute;
	margin-top: 94px;
	margin-left: 450px;
	
}

.hotel {

	margin-left: 470px;
	margin-top: 138px;
	font-size: 14px;
	color: #317eac;

}


.nav > li > a {

	padding: 16px 32px;
}

.graphic {

	margin-top: -304px;
	position: absolute;
}

.picture img-rounded {

	vertical-align: middle;
    text-shadow: 2px 2px #707070;
	
}

.picture a {

	color: white;
}

.ven {

	
	font-size: 14px;
	margin-left: 20px;
	color: #317eac;
}

.talk h2 {

	text-align: center;
}

.talk2 h4 {

	margin-left: -2px;
	font-weight: none;

}

.footer{
	width: 100%;
	position: fixed;
	background-color: #2fa4e7;
	border-color: #2fa4e7 ;
	bottom: 0;
	height: 105px;


 /*padding-bottom: 90px;
 */
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
	height: 500px;

	background-color:#555;


}
.carousel img {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 500px;
}

/* ALERTS
_____________*/

.alert {

	margin: 0px;


}

.carousel h1 {


	color: white;
	text-shadow: 2px 2px #707070;
}

@media only screen and (min-width: 600px){


	.sidebar {

		/* width: 30%; */
		clear: none;
	}
	.sidebar .nav-pills {
		margin-top: 30px;
	}

}





