.user-card{
	float: left;
	
	width: 33%;
	padding: 10px;
}

.user-card img{
	float:left;
	margin: 10px;
	display: block;
}

.user-card h2, .user-card h3{
	float:left;
	width: 50%;
	font-size: 14px;
	margin: 10px 0;
}

.user-card h2{
	margin-left: 0;
}

.sidebar-menu{
	margin-top: 0;
	margin-bottom: 0;
}

.navbar .navbar-default .navbar-fixed-top{
	border: 1px solid orange;
	margin-bottom: 0!important;
}

.pull-up{
	margin-top: -19px;
	margin-left:0;
}

.pull-up .row-fluid{
	margin-left: -20px;
}
.formatpic.img
{
 float: left;

}

.container-fluid {

	height: 110px;
}

.btn.btn-default.btn-lg
{

	line-height: 2.33;
	

}

.page-header
{

margin: 0px;

}

.picture
{
	position: absolute;
	right: 50px;
}

.picture img{
	float:left;
	margin-right: 10px;

}

.fa-caret-down
{
	color: black;
}



.fa-chevron-circle-right 
{

	
	vertical-align: middle;
    float: right;
}

.details
{
  display: block;
    font-size: 14px;
}

h4 {

	text-align: center;
	color: white;
	font-family: Arial;
}


.navbar.navbar-default {
background-color:  none;
border-color:  none;
margin-bottom: 0;
}


body { 
	padding-top: 130px; 
	min-height: 2000px;

}

.col-md-2 .sidebar {

background-color:  none;
padding-left: none;
margin-left: -20px;

}

.col-md-2 h2 {

 margin-left: -9px;
 background-color: none;

}


.col-md-10 p {

	margin-left: -25px;
}


.nav.nav-pills.nav-stacked li  a:hover {
text-decoration: none;
background-color: #7BCBF5;
color: white;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;

  background-color:#555;
  
  
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 500px;
}

/* ALERTS
_____________*/

.alert {

	margin: 0px;


}





