


.container-fluid {

	height: 110px;
}

.btn.btn-default.btn-lg
{

	line-height: 2.33;
	

}

.page-header
{

margin: 0px;

}

.picture
{

	
	margin-left: 1100px;
	margin-top: -40px; 
	
	
	
}

.fa-caret-down
{
	color: black;
	
	

}

.fa-chevron-circle-right 
{

	
	vertical-align: middle;
    float: right;
}

.details
{

	
  display: block;
    font-size: 14px;
   
    margin-left: 1200px;
    margin-top: -35px; 
   
    

}

h4 {

	text-align: center;
	color: black;
}


.navbar.navbar-default {
background-color: #85F2F2;
border-color: #85F2F2;
}


body { 
	padding-top: 130px; 
	min-height: 2000px;

}

.sidebar {

background-color: none;
padding-left: none;
margin-left: -20px;

}

.col-md-2 h2 {

 margin-left: -9px;

}


.col-md-10 h2 {
	margin-left: -25px;
}

.col-md-10 p {

	margin-left: -25px;
}


.nav.nav-pills.nav-stacked li  a:hover {
text-decoration: none;
background-color: #7BCBF5;
color: white;
}

