


 

<div class="row-fluid">
    <div class="col-md-10">






<div class="whitepaper">
<a href="/whitepaper/readpdf" <i class="fa fa-file-text fa-lg fa-fw"></i><span> File 1 </span></a>
</div>

<div class="whitepaper-1">
<a href="/whitepaper/readpdf" <i class="fa fa-file-text fa-lg fa-fw"></i><span> File 4 </span></a>
</div>

<div class="whitepaper-2">
<a href="/whitepaper/readpdf" <i class="fa fa-file-text fa-lg fa-fw"></i><span> File 7 </span></a>
</div>

<div class="whitepaper-3">
<a href="/whitepaper/readpdf" <i class="fa fa-file-text fa-lg fa-fw"></i><span> File 10 </span></a>
</div>

<div class="whitepaper-4">
<a href="/whitepaper/readpdf" <i class="fa fa-file-text fa-lg fa-fw"></i><span> File 13 </span></a>
</div>




<br /> <br />

<div class="paperx">
<a href="/whitepaper/read" <i class="fa fa-file-text fa-lg fa-fw"></i><span> File 2 </span></a>
</div>

<div class="paperx-1">
<a href="/whitepaper/read" <i class="fa fa-file-text fa-lg fa-fw"></i><span> File 5 </span></a>
</div>

<div class="paperx-2">
<a href="/whitepaper/read" <i class="fa fa-file-text fa-lg fa-fw"></i><span> File 8 </span></a>
</div>

<div class="paperx-3">
<a href="/whitepaper/read" <i class="fa fa-file-text fa-lg fa-fw"></i><span> File 11 </span></a>
</div>

<div class="paperx-4">
<a href="/whitepaper/read" <i class="fa fa-file-text fa-lg fa-fw"></i><span> File 14 </span></a>
</div>


<div class="paper">
<a href="/whitepaper/read_display" <i class="fa fa-file-text fa-lg fa-fw"></i><span> File 3 </span></a>
</div>

<div class="paper-1">
<a href="/whitepaper/read_display" <i class="fa fa-file-text fa-lg fa-fw"></i><span> File 6 </span></a>
</div>

<div class="paper-2">
<a href="/whitepaper/read_display" <i class="fa fa-file-text fa-lg fa-fw"></i><span> File 9 </span></a>
</div>

<div class="paper-3">
<a href="/whitepaper/read_display" <i class="fa fa-file-text fa-lg fa-fw"></i><span> File 12 </span></a>
</div>

<div class="paper-4">
<a href="/whitepaper/read_display" <i class="fa fa-file-text fa-lg fa-fw"></i><span> File 15 </span></a>
</div>


   </div>
 </div>  








